/*
MusicBook v1.0.0
Animation Effects
*/


.hero-content{

    animation:fadeIn 2s ease;

}



.feature-card{

    animation:slideUp 1s ease;

}





@keyframes fadeIn{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}





@keyframes slideUp{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}